@import '../node_modules/font-awesome/css/font-awesome.css';

body {
    background-color: #f2f3f8;
    font-weight: 300;
    color: #646c9a;
    font-size: 13px;
    font-family: sans-serif;
}
.bgWhite{
    padding:15px;
    background-color: #fff;
}